.container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid {
    border: 1px solid;
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
  }
  
.grid div {
    height: 25px;
    width: 25px;
    border-radius: 25px;
}
  
.player-one {
    background-color: red;
    border-radius: 10px;
}
  
.player-two {
    background-color: blue;
    border-radius: 10px;
}

h3 {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}